.preview{
  flex: 1 45%;
  border: 1px solid #eee;
  padding: 20px;

  .choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

    span{
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    button{
      padding: 10px 20px;
      background: crimson;
      border-radius: 10px;
      margin-left: 10px;
    }
  }
}

.noChoices{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 45%;
}