@import '../../styles/responsive-helpers.scss';

.addButtonWrapper{
  display: flex;
  justify-content: flex-end;
  @include mobile-only{
    flex-direction: column;
  }
  button{
    margin: 10px;
    background-color: #4CAF50;
    font-size: 18px;
  }
}